* {
    margin: 0;
    margin-top: 0px;
}

body {
    font-family: Merriweather;
    font-size: 18px;
    font-style: normal;
    align-items: center;
    justify-content: space-between;
    line-height: 23px;
    letter-spacing: 0%;
    background-color: white;
    color: #020E35;
}

main {
    height: 4000px;
}

/*--------------------------NAVIGATION BAR-----------------------------------------*/

.link {
    display: flex;
    justify-content: right;
    gap: 45px;
    width: 457px;
    height: 28px;
}

.flex div {
    width: 200px;
    height: 28px;
    /*a voir si il faut faire le block blanc comme selui de contact us*/
}

.navigation-bar {
    height: 84px;
    box-shadow: 0px 8px 20px 5px #00000014;
    display: flex;
    font-size: 16px;
    line-height: 20px;
}

.nav-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

a {
    color: #FFFFFF;
    text-decoration: none
}

.Button-link {
    background-color: #020E35;
    width: 200px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contact-us {
    margin-right: 150px;
}

.home {
    max-width: fit-content;
    display: inline-block;
    border-bottom: 4px solid #FF5678;
    padding-bottom: 8px;
}

.navigation-link {
    display: flex;
    align-items: center;
    /* aligne verticalement les éléments */
    gap: 45px;
    /* espace entre our work et contact */
}

.link a {
    color: #020E35;
    background-color: transparent;
    text-decoration: none;
}

.logoZebb {
    margin-left: 150px;
}

/*------------------------HOME PAGE HEADER-----------------------------------------*/

.HomePageHeader {
    padding: 0px 150px;
    padding-top: 300px;
    padding-bottom: 200px;
}

.PageHeaderBackground {
    display: flex;
    justify-content: space-between;
    gap: 480px;
}

.Text-content {
    display: flex;
    flex-direction: column;
    /* Aligne le texte et le bouton verticalement */
    gap: 56px;
    /* Espacement entre le texte et le bouton */
    align-items: left;
    /* Aligne le texte et le bouton à gauche */
}

.coffee {
    opacity: #FFEEF6 20%;
    border-radius: 200px;
}

h1 {
    font-size: 76px;
    font-weight: 900;
    line-height: 110px;
}

.highlight {
    color: white;
    background-color: rgba(255, 86, 120, 1);
    display: inline-block;
    /* Pour un surlignement plus précis */
    line-height: 0.9;
}

.See-our-work {
    box-shadow: 0px 20px 40px 5px #00000040;
}

/*--------------------------POWERED BY SECTION-------------------------------------*/

.PoweredBackground {
    max-height: 708px;
    padding: 100px 150px;
    display: flex;
    gap: 511px;
    justify-content: space-between;
}

/*-------H2 H3 H4--------*/
h2 {
    font-size: 54px;
    font-weight: 700;
    line-height: 62px;
}

h3 {
    color: transparent;
    -webkit-text-stroke: 1px #020E35;
    font-size: 64px;
    margin-top: 20px;
}

h4 {
    height: 36px;
    font-size: 28px;
    margin-bottom: 20px;
}

/*-------HIGHLINGHT2--------*/
.highlight2 {
    position: relative;
    /* Permet de positionner le pseudo-élément par rapport à cet élément */
    background-color: transparent;
    /* Aucune couleur de fond */
    display: inline-block;
    /* Pour un surlignement plus précis */

}

.highlight2::after {
    content: '';
    /* Pas de texte, juste la ligne */
    position: absolute;
    bottom: -1px;
    /* Place la ligne juste sous le texte (ajustable) */
    left: 5px;
    width: 102%;
    /* La ligne dépasse légèrement à la fin */
    height: 29px;
    /* Hauteur du surlignement */
    background-color: rgba(255, 86, 120, 1);
    /* Couleur du surlignement */
    z-index: -1;
    /* S'assure que la ligne est derrière le texte */
}

/*-------POWERED--------*/
.Text-content2 {
    display: flex;
    flex-direction: column;
    /* Aligne le texte et le bouton verticalement */
    gap: 42px;
    /* Espacement entre le h2 et le texte */
    align-items: left;
}

.videos {
    width: 592px;
    height: 508px;
    gap: 4px;
    opacity: 1;
    border-radius: 500px;
}

.Learn-more {
    box-shadow: 0px 20px 40px 5px #00000040;
    margin-right: 63px;
}

.interaction-button {
    display: flex;
    align-items: flex-start;
}

.PlayLogo {
    display: block;
    margin-right: 24px;
    /* distance entre PlayLogo et Watch videos */
}

.Watch-videos {
    color: #020E35;
    background-color: #FFFFFF;
    width: 200px;
    height: 68px;
    display: flex;
    align-items: center;
}

/*--------------------------SERVICES LIST SECTION----------------------------------*/

.Text-content-servicesList {
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    /* Aligne le texte verticalement */
    align-items: left;
}

.contenaire-p {
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
    gap: 532px;
}

.thigs-we-enjoi-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.thigs-we-enjoi-element {
    display: flex;
    gap: 32px;
}

.thigs-we-enjoi-margin {
    margin-top: 120px;
    position: relative;
}

.PinkCircle {
    position: absolute; /* Le cercle est positionné de façon absolue */
    top: -33%; /* Place-le au milieu du conteneur */
    left: -27%; /* Centre horizontalement */
    z-index: -1; /* Le cercle sera en arrière-plan */
    margin-right: 647px;
}

/*--------------------------CRAFT EXPERIENCES-------------------------------------*/

.CraftExperiences {
    padding: 100px 150px;
    display: flex;
    justify-content: space-between;
    gap: 176px;
}

.OurCustomers {
    margin: 83px 0px;
}

.P-Customers {
    margin: 60px 0px;
}

.CustomersJPG {
    border-radius: 1000px;
}